<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3 well">
            <!-- Sidebar content -->
            <!--
            <p><button class="btn btn-primary" ng-click="openDialog(naviSchedules)">Edit</button></p>
            <p><button class="btn btn-primary" ng-click="openMessageBox()">Edit</button></p>
            -->
            <form class="form-vertical">
                <div class="control-group">
                    <label class="control-label" for="selectNavi">
                        <h4>Navigator</h4>
                    </label>
                    <div class="controls">
                        <select id="selectNavi" style="width:100%;" ng-model="selectedNavi" ng-change="update()" ng-options="navi.body.name for navi in navigators">
                        </select>
                    </div>
                    <div class="clearfix pull-right">
                        <div>
                            <input class="btn" type="button" value="reload" ng-click="update()" /></input>
                        </div>
                        <div>
                            <span class="status"></span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="span6 well">
            <p><h4>Schedules</h4></p>
            <table class="table table-hover">
                <thead>
                    <th>Date</th>
                    <th>Status</th>
                </thead>
                <tbody ng-repeat="schedule in naviSchedules">
                    <tr>
                        <td>{{schedule.body.date | date:'MM/dd'}}</td>
                        <td>
                            <select style="width:50%;" ng-model="schedule.body.available.available" ng-options="k as v for (k,v) in alternatives" ng-change="setDirty()">
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p ng-show="loaded" class="pull-right">
                <button class="btn" ng-click="reload()" ng-disabled="!dirty">Cancel</button>
                <button class="btn btn-primary" ng-click="save()" ng-disabled="!dirty">Save</button>
            </p>
        </div>
        <div class="span3">
        </div>
    </div>
</div>
